.Hint {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: white;
  font-size: 28;
  background: #0008;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  pointer-events: none;
}

.Settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  user-select: none;
}

.MainGame {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
}
