.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);

  flex-direction: column;
}

.intro {
  width: 400px;
  margin-bottom: 50;
  position: relative;
  text-align: justify;

  .quote {
    position: absolute;
    font-size: 50;
  }
}

.quoteAttribution {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.start {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.navButton {
  padding: 15;
  margin-top: 20;
  border: 0;
  border-radius: 20;
  background-color: orange;
  width: 220;
  justify-content: center;
  align-items: center;
  display: flex;
}

.audio {
  width: 10%;
  position: absolute;
  z-index: 10;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
