.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background-color: var(--background);

    flex-direction: column;
    padding-top: 3rem;
  }
}

.intro {
  width: 400px;
  margin-bottom: 50;
  position: relative;
  text-align: justify;
  max-width: calc(100vw - 60px);

  .quote {
    position: absolute;
    font-size: 50;
  }
}

.quoteAttribution {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navButton {
  padding: 15;
  margin-top: 20;
  border: 0;
  border-radius: 20;
  background-color: orange;
  width: 220;
  justify-content: center;
  align-items: center;
  display: flex;
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.audio {
  width: 10%;
  height: auto;
  position: absolute;
}
.start {
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.videoTitle {
  padding-left: 3px;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #011635;
    --foreground: #011635;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
