.PetDrawer {
  display: flex;
  flex-direction: column;
  width: calc(var(--size) * var(--scale));
  height: auto;
  user-select: none;

  canvas {
    background-image: url("/transparent-background.png");
    background-size: calc(var(--scale) * 2px);
    background-position: center;
  }

  .ColorPicker {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;

    input[type="radio"] {
      appearance: none;
      background-image: url("/transparent-background.png");
      background-size: calc(var(--scale) * 2px);
      background-position: center;
      width: calc(var(--scale) * 1px);
      height: calc(var(--scale) * 1px);
      border-radius: 20%;
      width: 24px;
      height: 24px;
    }

    input[type="radio"]::before {
      content: "";
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 20%;
      background: var(--color);
      border: 2px solid lightgray;
    }

    input[type="radio"]:checked::before {
      border-color: blue;
    }
  }
}
