.PetDrawer {
  display: flex;
  flex-direction: column;
  width: calc(var(--size) * var(--scale));
  height: auto;
  user-select: none;

  canvas {
    background-image: url("/transparent-background.png");
    background-size: calc(var(--scale) * 2px);
    background-position: center;
  }

  .ColorPicker {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;

    input[type="radio"] {
      appearance: none;
      background-image: url("/transparent-background.png");
      background-size: calc(var(--scale) * 2px);
      background-position: center;
      width: calc(var(--scale) * 1px);
      height: calc(var(--scale) * 1px);
      border-radius: 20%;
      width: 24px;
      height: 24px;
    }

    input[type="radio"]::before {
      content: "";
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 20%;
      background: var(--color);
      border: 2px solid lightgray;
    }

    input[type="radio"]:checked::before {
      border-color: blue;
    }
  }
}

.PetBounce {
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: bounce;

  filter: drop-shadow(0 0 5px #000);
}

@keyframes bounce {
  0% {
    transform:translate(0, 0%);
  }
  20% {
    transform:translate(0, 1%);
  }
  100% {
    transform: scale(1, 0.9) translate(0, 5%);
  }
}

.PetDisplay {
  width: 100%;
  height: min(20%, 200px);
  position: fixed;
  bottom: 0;
  left: 0;
}
