.AdvertisementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  > label {
    color: gray;
  }

  a {
    border: gray solid;
    height: 30;
    width: 50%;
    background-color: white;
    text-align: center;
    font-size: 20;

    &:hover {
      border-color: lightskyblue;
    }
  }
}

.AdvertisementContainerAdChoice {
  position: absolute;
  top: 0;
  background: rgb(255, 255, 255, 0.7);
  padding: 2;
  z-index: 1;
  display: flex;
  flex-direction: row;

  p {
    color: lightskyblue;
    padding-right: 5px;
    visibility: collapse;
    width: 0;
    height: 0;
  }

  &:hover {
    p {
      visibility: visible;
      width: auto;
      height: auto;
    }
  }
}
