.CookieClicker {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--background);
  user-select: none;
}

.CookieClickerLeaderboard {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CookieClickerLeaderboardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.CookieClickerLeaderboardRowUser {
  border: 1px solid black;
}

.CookieClickerImage {
  border: 0px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: auto;
}

.CookieClickerPlusOne {
  color: var(--foreground);
  font-weight: bold;
  pointer-events: none;

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: fadeup;
}

@keyframes fadeup {
  0% {
    opacity: 1;
    transform: translate(0, -50%);
  }
  50% {
    opacity: 1;
    transform: translate(0, -150%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -250%);
  }
}
