.DraggableWindow {
  z-index: 100;
  position: absolute;
  border: gray 2.5 solid;
}

.DraggableWindowHeader {
  cursor: grab;
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.DraggableWindowHeader:active {
  cursor: grabbing;
}

.DraggableWindowTitle {
  user-select: none;
}

.DraggableWindowCloseIcon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: auto;

  &:hover {
    color: darkgray;
  }
}

@media (prefers-color-scheme: dark) {
  .DraggableWindowHeader {
    background: #222;
  }
}
