.DraggableWindow {
  z-index: 1;
  position: absolute;
  border-width: 10;
  border-radius: 5;
  border: gray solid;
}

.DraggableWindowHeader {
  border-top-left-radius: 3;
  border-top-right-radius: 3;
  cursor: grab;
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DraggableWindowHeader:active {
  cursor: grabbing;
}

.DraggableWindowTitle {
  user-select: none;
}

.DraggableWindowCloseIcon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: auto;

  &:hover {
    color: darkgray;
  }
}

@media (prefers-color-scheme: dark) {
  .DraggableWindowHeader {
    background: #222;
  }
}
