.PaymentPopup {
  z-index: 30;
  position: fixed;
}

.PaymentPopupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.4;
}

.PaymentPopupContent {
  position: relative;
  transform: translate(0, -25%);
  border-width: 10;
  border-radius: 15;
  border: gray solid;
  padding: 30;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20;

  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 3px;
    height: 30px;
    padding: 8px;
    min-width: none;
  }
  input:focus {
    outline: none;
  }
}

.PaymentPopupPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PaymentPopupInlineInput {
  display: flex;
  flex-direction: row;
  gap: 10;
  justify-content: space-evenly;
  align-items: center;

  input {
    width: 140px;
  }
}

.PaymentPopupType {
  border-radius: 8;
  background-color: white;
  border: lightgray solid;
  border-width: 1;
  width: 100%;
  padding: 10;

  &:disabled {
    border: darkslategray solid;
    background-color: lightgray;
  }
}

.PaymentPopupSubmit {
  border: 0;
  border-radius: 8;
  height: 40;

  &:hover {
    color: honeydew;
    background-color: blue;
  }
}

.PaymentPopupCloseIcon {
  width: 1.4rem;
  height: 1.4rem;

  &:hover {
    color: darkgray;
  }
}

@media (prefers-color-scheme: dark) {
  .PaymentPopup {
    background: #222;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }

  .PaymentPopupType {
    background: #888;

    &:disabled {
      background-color: #555;
    }
  }

  .PaymentPopupSubmit:hover {
    background: darkblue;
  }
}
